<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.PNG">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }
     li .last{
                float: right;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
           
                li a:hover {
                    background-color: #111;
                }


        .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

        .topnav-right {
            float: right;
        }
    </style>
</head>
<body >
    <header >
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CosProd" asp-action="Index">CosDeProd</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Loghin">Logare</a>
                    </li>
                </ul>
            </div>
                    <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="Index">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="SearchString" aria-label="Search">
                    </form>
        </div>
    </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        <i>Bine ați venit</i> la magazinul nostru online de telefoane mobile și tablete! Suntem mândri să oferim o gamă largă de produse de cea mai bună calitate la prețuri accesibile. De la cele mai noi modele de smartphone-uri până la tablete puternice, avem tot ceea ce aveți nevoie pentru a fi conectat și a rămâne în pas cu tehnologia.

                        Echipa noastră dedicată este mereu disponibilă pentru a vă ajuta să găsiți produsul perfect pentru nevoile dvs. Fie că sunteți în căutarea unui telefon mobil cu o cameră bună sau a unei tablete pentru a lucra în deplasare, suntem aici pentru a vă ajuta.

                        În plus, oferim o gamă largă de accesorii pentru telefoane mobile și tablete, de la huse și protectoare de ecran la căști și încărcătoare. Toate produsele noastre sunt de înaltă calitate și sunt disponibile la prețuri competitive.

                        Mulțumim pentru alegerea noastră și suntem bucuroși să vă avem ca client.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">Telefoane Mobile</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Tablete</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="https://localhost:44344/CosProd">Coș de cumpărături</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2023 All Rights Reserved by
                        <a href="#">Scanfcode</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <a class="btn text-white" style="background-color: #3c7cab;" href="#!" role="button">
                        <i class="fab fa-twitter me-2"></i>
                        Twitter
                    </a> 
                    <a class="btn text-white" style="background-color: #822282;" href="#!" role="button">
                        <i class="fab fa-twitter me-2"></i>
                        Instagram
                    </a>
                    <a class="btn text-white" style="background-color: #243e75;" href="#!" role="button">
                        <i class="fab fa-twitter me-2"></i>
                        Facebook
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
