@using DiplomaOnlineShop.Models
@model ViewModel
@{
    ViewData["AdminTitle"] = "Admin Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Online Shop</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        .example {
            margin: 1em 0;
            text-align: center;
        }

            .example img {
                width: 30vw;
                height: 30vw;
            }

        .example-cover img {
            object-fit: cover;
        }

        .example-contain img {
            object-fit: contain;
        }
    </style>
</head>
<body>

    <p class="text-white font-weight-bold " style="text-align:center;font-size:40px">Colectia de produse</p>
    <div class="row mt-5 mt-2">
        @{
            foreach (var p in Model.viewProducts)
            {
                <div class="col-lg-4 mt-3  pb-5" style="">
                    <div class=" text-dark p-3 pb-5" style="background-color: rgba(255, 255, 255,0.7); border-radius: 13px; width: 13vw; height: 20vw; ">
                        @{
                            string denumire = p.Path + "" + p.Img;
                        }
                        <a class="example example-cover" href="~/Show/@p.Id">
                            <img src="@denumire" />
                        </a>
                        <div class=" text-center mt-2"><p> &euro;@p.pret </p></div>
                        <div class="container text-secondary text-center" style="">
                            <p> @p.model </p>
                        </div>
                        <div class="float-right overflow-auto">
                            <a class="btn btn-dark" href="~/CosProd/Add?id=@p.Id"></a>
                            <img width="30" height="30" border-radius="50%" src="~/addCart.png" />
                        </div>
                        <div class="float-right overflow-auto">
                            <a class="btn btn-dark" href="~/AdminUser/Details/@p.Id"> </a>
                            <img width="30" height="30" border-radius="50%" src="~/ShowDetail.png" />
                        </div>
                    </div>
                </div>
            }

        }
    </div>

</body>
</html>



