@*@model Telephones
@{
    ViewData["Title"] = "Modifica produsul";
}
<head>
    <title>Modificari</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stel.css" />
</head>
<h2 style="color:white" class="text-center">Modifica produsul:</h2>
<body class="bd-light" style="background-image :linear-gradient(to right, #46b680 , #347392)">
    <div style="border:5px solid black;border-radius:10px;max-width:600px;background-color:white;min-width:400px;margin-left:21%">
        <form method="post" class="form-signin" style="width: 100%; max-width: 300px; padding: 15px; margin: 0 auto;" role="form" enctype="multipart/form-data">
           
            <div class="text-center">
                <label for="model">Model</label>
                <input type="text" class="form-control" style="border:3px solid black" name="model" placeholder="" value="" required="">
            </div>
 
            <div class="text-center">
                <label for="producător">Producător </label>
                <input type="text" class="form-control" style="border:3px solid black" name="producător" placeholder="" value="" required="">
            </div>

            <div class="text-center">
                <label for="producător">Diagonala ecranului </label>
                <input type="text" class="form-control" style="border:3px solid black" name="diagonala_ecranului" placeholder="" value="" required="">
            </div>

            <div class="text-center">
                <label for="producător">RAM </label>
                <input type="number" class="form-control" style="border:3px solid black" name="RAM" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Camera principală </label>
                <input type="number" class="form-control" style="border:3px solid black" name="camera_principală" placeholder="" value="" required="">
            </div>
                
            <div class="text-center">
                <label for="producător">Camera frontala </label>
                <input type="number" class="form-control" style="border:3px solid black" name="camera_frontala" placeholder="" value="" required="">
            </div>

            <div class="text-center">
                <label for="producător">Memorie incorporată </label>
                <input type="text" class="form-control" style="border:3px solid black" name="memorie_incorporată" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Capacitatea bateriei </label>
                <input type="text" class="form-control" style="border:3px solid black" name="capacitatea_bateriei" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Garanție </label>
                <input type="text" class="form-control" style="border:3px solid black" name="garanție" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Materialul carcasei </label>
                <input type="text" class="form-control" style="border:3px solid black" name="materialul_carcasei" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Dimensiuni </label>
                <input type="text" class="form-control" style="border:3px solid black" name="dimensiuni" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Greutate </label>
                <input type="text" class="form-control" style="border:3px solid black" name="greutate" placeholder="" value="" required="">
            </div>
            
            <div class="text-center">
                <label for="producător">Culoare </label>
                <input type="text" class="form-control" style="border:3px solid black" name="culoare" placeholder="" value="" required="">
            </div>

             <div class=" text-center">
                <label for="Desc">Descriere:</label>
                <input type="text" name="Desc" class="form-control" style="border:3px solid black" />
            </div>
 
            <div class=" text-center">
                <label for="price">Pret :</label>
                <input type="number" name="pret" class="form-control" style="border:3px solid black" />
            </div>
 
             <div class="form-group text-center">
                <label for="uploadedFile">Incarca imaginea</label>
                <input type="file" name="uploadedFile" class="form-control" style="border:3px solid black" />
            </div>

            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-warning" value="Trimite" />
                </div>
            </div>

        </form>
    </div>
</body>
*@