@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Online Shop</title>
    
</head>
<body>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Telephons" asp-action="Index">Telephons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tablets" asp-action="Index">Tablets</a>
    </li>

</body>
</html>

 

 