@using DiplomaOnlineShop.Models
@model List<Products>
@{
    ViewData["Title"] = "Home";
}
<p class="text-white font-weight-bold " style="text-align:center;font-size:40px">Colectia de produse</p>
<div class="row mt-5 mt-2">
    @{
        foreach (var p in Model)
        {
            <div class="col-lg-4 mt-3  pb-5" style="">
                <div class=" text-dark p-3 pb-5" style="background-color: rgba(255, 255, 255,0.7); border-radius: 13px;">
                    <div class="card" style="border-radius: 15px;">
                        <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                            @{
                                string denumire = p.Path + "" + p.Img;
                            }
                            <img src="@denumire" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid" alt="Laptop" />
                        </div>
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p><a class="text-dark">@p.model</a></p>
                                    <p class="small text-muted"> @p.category </p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between">
                                <p><a class="text-dark">&euro;@p.pret</a></p>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                                <a class="text-dark fw-bold" href="~/Home/Details/@p.Id">Details</a>
                                <a class="btn btn-primary" href="~/CosProd/Add?id=@p.Id">
                                    <button type="button" class="btn btn-primary">Add Cart</button>
                                </a>
                    </div>
                </div>
                </div>
                </div>
            </div>
        }
    }
 </div>
           

