@model IEnumerable<DiplomaOnlineShop.Models.Products>
@{
    ViewData["Title"] = "Products";
}
<style>
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .container {
        padding: 0 16px;
    }
        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }
    .title {
        color: grey;
    }
    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }
        .button:hover {
            background-color: #555;
        }
    .example {
        margin: 1em 0;
        text-align: center;
    }
</style>
<p class="text-white font-weight-bold " style="text-align:center;font-size:40px">Colectia de produse</p>
<div class="row mt-5 mt-2">
    @{
        foreach (var p in Model.Where(x => x.category == "phone"))    //problema
        {
            <div class="col-lg-4 mt-3  pb-5" style="">
                <div class=" text-dark p-3 pb-5" style="background-color: rgba(255, 255, 255,0.7); border-radius: 13px; width: 13vw; height: 20vw; ">
                    @{
                        string denumire = p.Path + "" + p.Img;
                    }
                    <a class="example example-cover" href="~/Show/@p.Id">
                        <img src="@denumire" />
                    </a>
                    <div class=" text-center mt-2"><p> &euro;@p.pret </p></div>
                    <div class="container text-secondary text-center" style="">
                        <p> @p.model </p>
                    </div>
                    <div class="float-right overflow-auto">
                        <a class="btn btn-dark" href="~/CosProd/Add?id=@p.Id&&typeProduct=0"></a>
                        <img width="30" height="30" border-radius="50%" src="~/addCart.png" />
                    </div>
                    <div class="float-right overflow-auto">
                        <a class="btn btn-dark" href="~/Home/Details/@p.Id"> </a>
                        <img width="30" height="30" border-radius="50%" src="~/ShowDetail.png" />
                    </div>
                </div>
            </div>
        }
        foreach (var p in Model.Where(x => x.category == "tablet"))
        {
            <div class="col-lg-4 mt-3  pb-5" style="">
                <div class=" text-dark p-3 pb-5" style="background-color: rgba(255, 255, 255,0.7); border-radius: 13px; width: 15vw; height: 20vw; ">
                    @{
                        string denumire = p.Path + "" + p.Img;
                    }
                    <a class="example example-cover" href="~/Show/@p.Id">
                        <img src="@denumire" />
                    </a>
                    <div class=" text-center mt-2"><p> &euro;@p.pret </p></div>
                    <div class="container text-secondary text-center" style="">
                        <p> @p.model </p>
                    </div>
                    <div class="float-right overflow-auto">
                        <a class="btn btn-dark" href="~/CosProd/Add?id=@p.Id&&typeProduct=0"></a>
                        <img width="30" height="30" border-radius="50%" src="~/addCart.png" />
                    </div>
                    <div class="float-right overflow-auto">
                        <a class="btn btn-dark" href="~/Home/Details/@p.Id"> </a>
                        <img width="30" height="30" border-radius="50%" src="~/ShowDetail.png" />
                    </div>
                </div>
            </div>
        }
    }
</div>

















