@{
    ViewData["CosForm"] = "FormCos";
}
<h2 style="color:white" class="text-center">Completați formularul pentru a continua:</h2>

        <form method="post" class="form-signin" style="width: 100%; max-width: 300px; padding: 15px; margin: 0 auto;" role="form" enctype="multipart/form-data">
            <p> Completeaza:</p>
            <div class="text-center">
                <input type="text" class="form-control" style="border:3px solid black" name="Name" placeholder="Nume" value="" required="" />
            </div>
            <div class="text-center">
                <input type="text" class="form-control" style="border:3px solid black" name="Oraș" placeholder="Oraș" value="" required="" />
            </div>
            <div class="text-center">
                <input type="text" class="form-control" style="border:3px solid black" name="Strada" placeholder="Strada, numărul blocului, apartamentul" value="" required="" />
            </div>
            <div class=" text-center">
                <input type="number" name="Numar_de_telefon" class="form-control" style="border:3px solid black" placeholder="Număr de telefon" value="" required="" />
            </div>

            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-warning" value="Trimite" />
                </div>
            </div>
        </form>

