@model DiplomaOnlineShop.ViewModels.ViewModels;
@{
    ViewData["Title"] = "CosProd";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<div class="container bg-dark rounded">
    <div class="row ">
        <div class="col-lg-8 ">
            <div class="row m-4" style="min-height:400px">
                <div class="col-12">
                    <div class="row border-bottom">
                        <div class="col-10 text-center text-white"><h1>Cosul de produse</h1></div>

                    </div>
                </div><div></div>
               
                @{
                    if (Model.ViewProducts.Any())
                    {
                        foreach (var p in Model.ViewProducts)
                        {
                           
                            string cale = p.Path + "" + p.Img;

                            <div class="row m-2 justify-content-around" style="max-height:120px">
                                <div class="col-2 ">
                                    <img class="w-100 h-100" src="@cale" />
                                </div>
                                <div class="col-6 text-center ">
                                    <h5 class="text-white text-center">@p.model</h5>
                                    <p class="text-center text-secondary">@p.producător</p>
                                </div>
                                <div class="col-2 text-center text-white">
                                    <p>&euro; @p.pret</p>
                                </div>
                                <div class="col-2 text-right text-white">
                                    <a href="~/CosProd/delete?id=@p.Id&&typeProduct=1" onMouseOver="this.style.color='white'"
                           onMouseOut="this.style.color='gray'"> &#10005;</a>

                                </div>

                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12 container  text-center p-1 text-white ">
                            <p>Cosul Dvs este gol</p>
                        </div>
                    }
                }
            </div>
            <div class="align-content-lg-end m-4">
                <a class="" href="~/Home/index" onMouseOver="this.style.color='white'"
                   onMouseOut="this.style.color='gray'">&larr; Intoarce-te la produse</a>
            </div>
        </div>
    </div>
</div>

