@model Products
@{
    ViewData["Title"] = "Modifica produsul";
}
<head>
    <title>Change</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stel.css" />
</head>
<h2 style="color:white" class="text-center">Modifica produsul</h2>
<body class="bd-light" style="background-color: #333;">
    <div style="border:5px solid black;border-radius:10px;max-width:600px;background-color:white;min-width:400px;margin-left:21%">
        <form method="post" class="form-signin" style="width: 100%; max-width: 300px; padding: 15px; margin: 0 auto;" role="form" enctype="multipart/form-data">
            <p> Completeaza:</p>
            <div class="text-center">
                <input type="text" class="form-control" style="border:3px solid black" name="model" placeholder="Model" value="" required="" />
            </div>

            <div class="text-center">
                <input type="text" class="form-control" style="border:3px solid black" name="producător" placeholder="Producător" value="" required="" />
            </div>


            <div class=" text-center">
                <input type="number" name="pret" class="form-control" style="border:3px solid black" placeholder="Pret" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="diagonala_ecranului" class="form-control" style="border:3px solid black" placeholder="Diagonala ecranului" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="text" name="rezolutia_ecranului" class="form-control" style="border:3px solid black" placeholder="Rezolutia ecranului" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="memorie_incorporată" class="form-control" style="border:3px solid black" placeholder="Memorie incorporată" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="RAM" class="form-control" style="border:3px solid black" placeholder="RAM" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="camera_frontala" class="form-control" style="border:3px solid black" placeholder="Camera frontală" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="camera_din_spate" class="form-control" style="border:3px solid black" placeholder="Camera din spate" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="capacitatea_bateriei" class="form-control" style="border:3px solid black" placeholder="Capacitatea bateriei" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="number" name="garanție" class="form-control" style="border:3px solid black" placeholder="Garanție" value="" required="" />
            </div>
            
            <div class=" text-center">
                <input type="text" name="culoare" class="form-control" style="border:3px solid black" placeholder="Culoare" value="" required="" />
            </div>
            
             <div class="form-group text-center">
                <input type="file" name="uploadedFile" class="form-control" style="border:3px solid black" placeholder="Încarcă imaginea" value="" required="" />
            </div>

            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-warning" value="Trimite" />
                </div>
            </div>
        </form>
    </div>
</body>
 